config/embeddium-options.json
config/flywheel-client.toml
/crash-reports
hmclversion.cfg
log4j2.xml
/local
/logs
/natives-windows-x86_64
/saves
rhino.local.properties
usercache.json
usernamecache.json
options.txt
*.log
Colussus Dev.jar
Colussus Dev.json
config/oculus.properties
/fancymenu_data
/modernfix
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
/screenshots
/resourcepacks
patchouli_data.json
